body{
	background: #eee;
}
#leadership {
	background-color: #fffbfc;
	padding: 100px 0;
}
#leadership .accordion .card {
	border: none;
}
#leadership .accordion .card img {
	height: 64px;
	width: 64px;
}
#leadership .accordion .card .accordion-group .card-header {
	background-color: #fffbfc;
	padding: 10px;
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px);
}
#leadership .accordion .card .accordion-group .card-header:hover {
	background-color: #edb348;
}
#leadership .accordion .card .accordion-group .card-header a {
	text-decoration: none;
	color: #000;
}
#leadership .accordion .card .accordion-group .card-header a:hover {
	color: white;
}

.heading-primary {
	font-size:2em;
	padding:2em;
	text-align:center;
}
.accordion dl,
.accordion-list {
	border:1px solid #ddd;
	&:after {
		content: "";
		display:block;
		height:1em;
		width:100%;
		background-color:darken(#38cc70, 10%);
	}
}
.accordion dd,
.accordion__panel {
	background-color:#eee;
	font-size:1em;
	line-height:1.5em; 
}
.accordion p {
	padding:1em 2em 1em 2em;
}

.accordion {
	position:relative;
	background-color:#eee;
}
.container {
	max-width:960px;
	margin:0 auto;
}
.accordionTitle,
.accordion__Heading {
	background-color:#00c851;
	text-align:center;
	font-weight:700; 
	padding:1em;
	display:block;
	text-decoration:none;
	color:#fff;
	transition:background-color 0.5s ease-in-out;
	border-bottom:1px solid darken(#38cc70, 5%);
	&:before {
		content: "+";
		font-size:1.5em;
		line-height:0.5em;
		float:left; 
		transition: transform 0.3s ease-in-out;
	}
	&:hover {
		background-color:darken(#38cc70, 10%);
	}
}
.accordionTitleActive, 
.accordionTitle.is-expanded {
	background-color:darken(#38cc70, 10%);
	&:before {

		transform:rotate(-225deg);
	}
}
.accordionItem {
	height:auto;
	overflow:hidden; 
	//SHAME: magic number to allow the accordion to animate

	max-height:50em;
	transition:max-height 1s;   


	@media screen and (min-width:48em) {
		max-height:15em;
		transition:max-height 0.5s

	}


}

.accordionItem.is-collapsed {
	max-height:0;
}
.no-js .accordionItem.is-collapsed {
	max-height: auto;
}
.animateIn {
	animation: accordionIn 0.45s normal ease-in-out both 1; 
}
.animateOut {
	animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
	0% {
		opacity: 0;
		transform:scale(0.9) rotateX(-60deg);
		transform-origin: 50% 0;
	}
	100% {
		opacity:1;
		transform:scale(1);
	}
}

@keyframes accordionOut {
	0% {
		opacity: 1;
		transform:scale(1);
	}
	100% {
		opacity:0;
		transform:scale(0.9) rotateX(-60deg);
	}
}

td{
	color: black;
}
#white{
	color: white;
}

#grad1 {
    background-color: : #9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #81D4FA)
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 20px;
    box-shadow: 2px 2px 7px 0 #00000057;
    padding: 20px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
}

#msform .action-button {
    text-transform: capitalize;
    width: 250px;
    float: right;
    font-size: 15px;
    overflow-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(66, 133, 244) !important;
    margin: 0.375rem;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 50px;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    padding: 0.84rem 2.14rem;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 2px 8px 1px #afadad
}

#msform .action-button-previous {
    text-transform: uppercase;
    width: 250px;
    overflow-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    font-size: 0.81rem;
    color: rgb(255, 255, 255);
    background-color: #dc3545 !important;
    margin: 0.375rem;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0.125rem;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    padding: 0.84rem 2.14rem;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 2px 8px 1px #afadad
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "1";
    font-weight: bold;
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "2";
    font-weight: bold;
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "3";
    font-weight: bold;
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "4";
    font-weight: bold;
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #4285f4;
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 20px;
    background: lightblue;
    box-shadow: 2px 2px 7px 0 #00000057;
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}
input[type="radio"] {
	margin: 10px;
	font-size: 14px;
}
.form-control{
	border-radius: 0px;
}
.btn{
	border-radius: 0px;
	width: 100%;
}

@media only screen and (max-width: 800px) {
#aplikasi{
	width: 50%;
	height: 50%;	
} 
#up{
	margin-top: -200px;
}
#up_atas{
	margin-top:-50px;
}
#img2{
	width: 50%;
}
#font{
	color: white; font-size: 21px; text-align:center;
} 
  }
  
  @media only screen and (min-width: 800px) {
	.font-gaya{
		color: white;
		font-size: 30px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
  }
  
#shadow{
		box-shadow: 2px 2px 7px 0 #00000057; background-color: white; border-radius: 20px; margin-top: 20px; margin-bottom: 30px; padding: 20px;
	}
	.shadow{
		box-shadow: 2px 2px 7px 0 #00000057; background-color: white; margin-top: 20px; margin-bottom: 30px; padding: 20px;
	}
	#radius{
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
	}
	#radius2{
		border-radius: 20px;
	}
	#bordernone{
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 17px;
}
input[type="radio"] {
	margin: 10px;
	font-size: 14px;
}
.form-control{
	border-radius: 0px;
}
.btn{
	border-radius: 0px;
	width: 100%;
}

.custom-navbar{box-shadow: 2px 1px 4px #b7abab; z-index:;background-color: #fff;}
.nav-link{color: #f7204e!important;}
.custom-toggler.navbar-toggler {border-color: rgb(247,32,78);}
.custom-toggler .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,32,78, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.custom-toggler .navbar-toggler-icon{width: 18px!important;}
.custom-toggler:hover{border-color: rgb(255,255,255); background-color: #f76a88;}
.navbar-toggler-icon:hover{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}#logo_custom{margin-top: -6px;}
@media only screen and (max-width: 760px) { #logo_custom{width: 40%;}}

#parallax-world-of-ugg .title {background: white; padding: 60px; margin:0 auto; text-align:center;}
#parallax-world-of-ugg .title h1 {font-size:35px; letter-spacing:8px;}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {background: white; padding: 60px; width:820px; margin:0 auto; text-align:justify;}
#parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
#parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 100px; padding-bottom: 200px;overflow: hidden; position: relative; width: 100%; 
	
	background-position: top center;}


input[type="radio"] {
	margin: 10px;
	font-size: 14px;
}
.form-control{
	border-radius: 0px;
}
.btn{
	border-radius: 0px;
	width: 100%;
}
#bordernone{
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 17px;
}


.gelombang1{
	box-shadow: 2px 2px 7px 0 #00000057; text-align: center; background-color: white;border-top-right-radius: 50px; padding: 20px;
}
.gelombang2{
	box-shadow: -2px 2px 7px 0 #00000057; text-align: center; background-color: white;border-top-left-radius: 50px; padding: 20px;
}
.sub-gelombang{
	color: #34aa49; font-weight: bold;
}
#box-shadow{
	box-shadow: 2px 2px 7px 0 #00000057; background-color: white; border-radius: 20px; margin-top: 20px; margin-bottom: 20px; padding: 20px; display: none;
}
.process-box{
	background: #fff;
	padding: 10px;
	border-radius: 15px;
	position: relative;
	box-shadow: 2px 2px 7px 0 #00000057;
}
.process-left:after{
	content: "";
	border-top: 15px solid #ffffff;
	border-bottom: 15px solid #ffffff;
	border-left: 15px solid #ffffff;
	border-right: 15px solid #ffffff;
	display: inline-grid;
	position: absolute;
	right: -15px;
	top: 42%;
	transform: rotate(45deg);
	box-shadow: 3px -2px 3px 0px #00000036;
	z-index: 1;
}
.process-right:after{
	content: "";
	border-top: 15px solid #ffffff00;
	border-bottom: 15px solid #ffffff;
	border-left: 15px solid #ffffff;
	border-right: 15px solid #ffffff00;
	display: inline-grid;
	position: absolute;
	left: -15px;
	top: 42%;
	transform: rotate(45deg);
	box-shadow: -1px 1px 3px 0px #0000001a;
	z-index: 1;
}
.process-step{
	background: #2dabb9;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	color: #fff;
	height: 100%;
	padding-top: 8px;
	position: relative;
	top: -26px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: -6px 8px 0px 0px #00000014;
}
.process-point-right{
	background: #ffffff;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 8px solid #2dabb9;
	box-shadow: 0 0 0px 4px #5c5c5c;
	margin: auto 0;
	position: absolute;
	bottom: 40px;
	left: -63px;
}
.process-point-right:before{
	content: "";
	height: 144px;
	width: 11px;
	background: #5c5c5c;
	display: inline-grid;
	transform: rotate(36deg);
	position: relative;
	left: -50px;
	top: -0px;
}
.process-point-left{
	background: #ffffff;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 8px solid #2dabb9;
	box-shadow: 0 0 0px 4px #5c5c5c;
	margin: auto 0;
	position: absolute;
	bottom: 40px;
	right: -63px;
}
.process-point-left:before {
	content: "";
	height: 144px;
	width: 11px;
	background: #5c5c5c;
	display: inline-grid;
	transform: rotate(-38deg);
	position: relative;
	left: 50px;
	top: 0px;

}

.process-last:before{
	display: none;
}
.process-box p{
	z-index: 9;
}
.process-step p{
	font-size: 20px;
}
.process-step h2{
	font-size: 39px;
}
.process-step:after{
	content: "";
	border-top: 8px solid #04889800;
	border-bottom: 8px solid #048898;
	border-left: 8px solid #04889800;
	border-right: 8px solid #048898;
	display: inline-grid;
	position: absolute;
	left: -16px;
	top: 0;
}
.process-step:before{
	content: "";
	border-top: 8px solid #ff000000;
	border-bottom: 8px solid #048898;
	border-left: 8px solid #048898;
	border-right: 8px solid #ff000000;
	display: inline-grid;
	position: absolute;
	right: -16px;
	top: 0;
}
.process-line-l{
	background: white;
	height: 4px;
	position: absolute;
	width: 136px;
	right: -153px;
	top: 58px;
	z-index: 9;
}
.process-line-r{
	background: white;
	height: 4px;
	position: absolute;
	width: 136px;
	left: -153px;
	top: 67px;
	z-index: 9;
}
.letter {
      background: #ffffff;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      margin: 26px auto 0;
      padding: 24px;
      position: relative;
      }
      .letter:before, .letter:after {
      content: "";
      height: 98%;
      position: absolute;
      width: 100%;
      z-index: -1;
      }
      .letter:before {
      background: #fafafa;
      box-shadow: 0 0 8px rgba(0,0,0,0.4);
      -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.4);
      -moz-box-shadow: 0 0 8px rgba(0,0,0,0.4);
      left: -5px;
      top: 4px;
      transform: rotate(-2.7deg);
      -webkit-transform: rotate(-2.7deg);
      -moz-transform: rotate(-2.7deg);
      }
      .letter:after {
      background: #f6f6f6;
      box-shadow: 0 0 3px rgba(0,0,0,0.2);
      right: -3px;
      top: 1px;
      transform: rotate(1.4deg);
      -webkit-transform: rotate(1.4deg);
      -moz-transform: rotate(1.4deg);
      }


      .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #eee;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #00c851;
}
.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 30px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
.margin5px{
	margin: 5px;
}
#animated-img1{
	margin-top: 30px; border-radius: 50px;
}
.heading-one{
	color: #2dabb9; font-weight: bold;font-size: 25px;
}
.heading-two{
	color: #333;
}
#shadow-quota{
	box-shadow: 2px 2px 7px 0 #00000057; background-color: white; border-radius: 50px; text-align: center; padding: 20px;
}
.font-quota{
	font-size: 35px; color: #34aa49; font-weight: bold;
}
#button-next{
	border-radius: 50px; width: 250px;
}
#padding20{
	padding: 20px;
}
#top50{
	margin-top: 50px;
}
#margin-bottom50{
	margin-bottom: 50px;
}
.text-capital{
	text-transform: capitalize;
}
#marginpadding0{
	margin: 0px;
	padding: 0px;
}
.bottom10{
	margin-bottom: 10px;
}
#formulir{
	width:100%; border-radius: 0px;
}
.heading-children{
	background-color:#f6f6f6; color: white;
}
#radius50{
	border-radius: 50px;
}
#button-form{
	border-radius: 50px; float: right;
}
.heading-table{
	background-color: #00c851; color: white;
}
#heading50{
	padding: 50px;
}
* {
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
#tabs{
	border: none;
}
