#accordionSidebar{
  z-index: 2;
  box-shadow: 4px -3px 16px 2px rgba(199,199,199,1);
  border-top-right-radius: 40px;
}
#tulisan{
  font-weight: 1000;
  color: #333;
}
#padding0{
  padding: 0px;
  margin-top: 10px;
}

#fontsize16{
  font-size: 16px;
}
#logonav{
  float: right; margin-top: 5px; width: 55px;
}
#welcome{
  font-family: 'Poppins', sans-serif;
}
#buat_ujian{
  border-radius: 20px;
  box-shadow: 0px 2px 4px 2px rgb(238, 229, 229);
  width: 60%;
  margin: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#icon_file{
  max-width: 50px;
}
#max-width25{
  max-width: 25px;
}
#dec_none{
  text-decoration: none;
}
#background-login{
  background-color: #eeeef0;
}
#radius30{
  border-radius: 30px;
}
#radius30s{
  border-radius: 30px;
  padding: 0px;
}
.bg-login-image {
  background: #8b8adc;
  background-position: center;
  background-size: cover;
}
#top100{
  margin-top: 100px;
}
#white{
  color: white;
  margin-top: 15px;
  font-weight: 800;
  font-size: 18px;
}
#white_big{
  color: white;
  margin-top: 5px;
  font-weight: bold;
  font-size: 40px;
  font-family: calibri;
  text-align: center;
}
#titik{
  width: 20px;
  height: 30px;
}
#padding0{
  padding: 0px;
}
#margintop50{
  margin-top: 50px;
}
@media only screen and (min-width: 800px) {

  .user{
    margin-top: 100px;
  }
}
#point{
  font-size: 6px; 
  margin-right: 5px; 
  color: mediumvioletred;
}

#point2{
  font-size: 9px; 
  margin-right: 5px; 
  color: #333;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f4f4f4;
  color: black;
}
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #fafafa;
  color: black;
}
#styleButton{
  border-radius: 50px; width: 100%; height: 40px; padding-top: 6px;  text-transform: capitalize;
}
#styleButton2{
  border-radius: 50px; width: 100%;  padding-top: 6px;  text-transform: capitalize;height: 100%; color: white;
}
#warna{
  color: red;
  font-size: 20px;
}
#warna2{
  color: blue;
  font-size: 20px;
}
#container-index{
  padding-left: 80px; padding-right: 80px; margin-bottom: 50px;
}
#float-right{
  float: right;
}
.border-index{
  border:1px solid #989898
}
#radius{
  border-radius: 20px;
  box-shadow: 2px 3px 8px 0px rgb(242, 225, 225);
}
#radius2{
  border-radius: 20px;
  padding: 0px;
  box-shadow: 2px 3px 8px 0px rgb(242, 225, 225);
}
.heading-one{
  color: black; font-weight: bold;
}
.card{
  padding: 20px;
  margin-bottom: 30px;
}
#warna{
  color: red;
  font-size: 20px;
}
#warna2{
  color: blue;
  font-size: 20px;
}
.star{
  color: #007bff;
}
#radius500{
  border-radius: 500px;
}
.border-bottom{
  border-bottom: 1px solid #e5e5e5;
}
.text-right{
  text-align: right;
}
#height-card{
  height: 280px;
}
#color-login{
  font-size:25px;color:#808080
}
.heading-manejerial{
  padding: 15px; background: linear-gradient(to right, rgba(0, 123, 255, 0.89), rgba(146, 144, 144, 0.44)); color: white; font-weight: bold; border-radius: 5px;
}
.indikator{
  color: #1c89fe;
}
#text-number{
  width: 40px; height: 40px; border: 2px solid #969696;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#button-two{
  width: 100%; border-radius: 20px; text-transform: capitalize;
}
#succes{
  color: #4e73df;
}
.margin30{
  margin: 30px;
}
.padding5{
  padding: 5px;
}
#radius-width{
  border-radius: 500px; width: 150px;
}
#number-persent{
  width: 65%; float: right; height: 45px; font-size: 30px;
}
.content-center{
  width: 80%;
  margin-top: 100px;
  
}